*.jpg !text !filter !merge !diff
CHANGELOG.md merge=union
newton/examples/assets/cloth/**/*.usd filter=lfs diff=lfs merge=lfs -text
newton/examples/assets/cloth/**/*.usda filter=lfs diff=lfs merge=lfs -text
newton/examples/assets/cloth/**/*.usdc filter=lfs diff=lfs merge=lfs -text
newton/examples/assets/*.hdf5 filter=lfs diff=lfs merge=lfs -text
