results/*.mp4
results/*.png
results/*.npz
results-triangle-bending/*.mp4
results-triangle-bending/*.png
results-triangle-bending/*.npz
results-floor-sweep/*.npz
results-floor-sweep/*.png
results-rho-video-sweep/*.mp4
results-rho-video-sweep/*.png
results-rho-video-sweep/*.npz
results-inertia-video-sweep/*.mp4
results-inertia-video-sweep/*.png
results-inertia-video-sweep/*.npz
